.show-btn {
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}
.movingBallOut{
    display: none;
    position:relative;
    width:128px;
    height:10px;
    margin-left: 0;
}

.movingBallLineG{
    position:absolute;
    left:0px;
    top:4px;
    height:2px;
    width:128px;
    background-color:rgb(0,0,0);
}

.movingBallG{
    background-color:rgb(0,0,0);
    position:absolute;
    top:0;
    left:0;
    width:10px;
    height:10px;
    border-radius:5px;
    -o-border-radius:5px;
    -ms-border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    animation-name:bounce_movingBallG;
    -o-animation-name:bounce_movingBallG;
    -ms-animation-name:bounce_movingBallG;
    -webkit-animation-name:bounce_movingBallG;
    -moz-animation-name:bounce_movingBallG;
    animation-duration:0.975s;
    -o-animation-duration:0.975s;
    -ms-animation-duration:0.975s;
    -webkit-animation-duration:0.975s;
    -moz-animation-duration:0.975s;
    animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
    animation-direction:normal;
    -o-animation-direction:normal;
    -ms-animation-direction:normal;
    -webkit-animation-direction:normal;
    -moz-animation-direction:normal;
}



@keyframes bounce_movingBallG{
    0%{
        left:0px;
    }

    50%{
        left:118px;
    }

    100%{
        left:0px;
    }
}

@-o-keyframes bounce_movingBallG{
    0%{
        left:0px;
    }

    50%{
        left:118px;
    }

    100%{
        left:0px;
    }
}

@-ms-keyframes bounce_movingBallG{
    0%{
        left:0px;
    }

    50%{
        left:118px;
    }

    100%{
        left:0px;
    }
}

@-webkit-keyframes bounce_movingBallG{
    0%{
        left:0px;
    }

    50%{
        left:118px;
    }

    100%{
        left:0px;
    }
}

@-moz-keyframes bounce_movingBallG{
    0%{
        left:0px;
    }

    50%{
        left:118px;
    }

    100%{
        left:0px;
    }
}